body {
  /* margin: 0; */
}


div#navigation_bar {
  width: 20%;
  float: right;
  padding-right: 0;
  height: 100%;
}

div.mainarea {
  max-width: 80%;
}

a,
.link_like {
  cursor: pointer;
  text-decoration: underline;
}

.link_like:hover {
  color: red;
}

#the_textarea {
  display: block;
}

.inline {
  display: inline;
}