div#navigation_bar {
  width: 20%;
  float: right;
  padding-right: 0;
  height: 100%;
}

div.mainarea {
  max-width: 80%;
}

.link_like {
  cursor: pointer;
  text-decoration: underline;
}

.link_like:hover {
  color: red;
}

#the_textarea {
  display: block;
}

#files_list_div {
  max-height: 12em;
  overflow-y: scroll;
  overflow-x: hidden;
}

details summary h3 {
  display: inline;
}
