div#navigation_bar {
  width: 20%;
  float: right;
  padding-right: 0;
  height: 100%;
}

div.mainarea {
  max-width: 80%;
}

.link_like {
  cursor: pointer;
  text-decoration: underline;
}

.link_like:hover {
  color: red;
}

#the_textarea {
  display: block;
}

details {
  max-height: 35em;
  overflow-x: hidden;
}

details summary h3 {
  display: inline;
}

/* TODO another css file? */
/* welcome related stuff */
div.app_launcher_item {
  overflow: auto;
  margin: 2em;
}
div.app_launcher_item:hover {
  background-color: lightyellow;
}
.app_launcher_item img{
  float: left;
  margin-right: 2em;
}
.app_launcher_item.body {
  display: inline-block;
}
.app_launcher_item ul {
  list-style-type: none;
}
.app_launcher_item li{
  margin: 1em;
  font-size: larger;
}
.app_launcher_item li.disabled{
  color: lightgray;
}
